.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup-inner {
  position: relative;
  top: 0;
  left: 0;
  max-width: 450px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dadce0;
  padding: 30px;
}

.popup-inner h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}
.form-group {
  position: relative;
  margin-bottom: 15px;
}
.popup-inner input {
  height: 50px;
  width: 300px;
  outline: none;
  border: 1px solid #dadce0;
  padding: 10px;
  border-radius: 5px;
  font-size: inherit;
  color: #202124;
  transition: all 0.3s ease-in-out;

}
.popup-inner label {
  position: absolute;
  padding: 0 5px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  /* quan trọng */
  pointer-events: none;
  background: #fff;
  transition: all 0.3s ease-in-out;
}
.popup-inner input:focus {
  border: 2px solid #1a73e8;
}
/* selector:valid */
.popup-inner input:focus + label,.popup-inner input:valid + label{
  top: 0;
  font-size: 13px;
  font-weight: 500;
  color: #1a73e8;
}
#btn-login{
  background: #1a73e8;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #1a73e8; 
  color: #fff;
  cursor: pointer;
}
#btn-login:hover{
  opacity: 0.85;
}
/* .popup .btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
} */
